<div id="confirm-modal">
  <h2>Thanks for signing the petition to defend Internet privacy.</h2>
   
    <p style="text-align: left; font-size: 20px; margin: 0px 0px 10px 10px; font-weight: 400;">We also need to start protecting ourselves online now.<br>
This easy, 6-step guide shows you how to get started: <a href="https://www.letsgetsafe.org">letsgetsafe.org</a></p>



    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.savebroadbandprivacy.org" class="share facebook">Share This</a>
    <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.savebroadbandprivacy.org" class="tweet twitter">Tweet This</a>
    <a href="https://donate.fightforthefuture.org/?tag=bp_priv" class="donate">Donate</a>
</div>
